body {
  padding: 0px;

  background: url(elegido.jpg);
}

.List {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

a {
  color: gray;
  text-decoration: none;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
