body {
  padding: 0px;

  background: url(elegido.jpg);
}

.List {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.top {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(95, 24, 62);
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
